@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Baloo');

::selection {
  background: rgb(0, 255, 220);
  color: white;
  text-shadow: none;
}
::-moz-selection {
  background: rgb(0, 255, 220);
  color: white;
  text-shadow: none;
}

/*html,
body {
    height: 100%;
}*/

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: white;
	color: rgb(0, 0, 0);
  font-size: 16px;
}

main {
  /*height: 100%;*/
  margin: auto;
  max-width: 960px;
  overflow: hidden;
  text-align: center;
}

h1 {
  color: rgb(0, 255, 220);
  font-family: 'Baloo', cursive;
	font-size: 8em;
  font-weight: 300;
  letter-spacing: -4px;
  margin: 0.67em 0 0 0;
	text-align: center;
  width: 100%;
}

h2 {
  color: black;
  font-family: 'Fira Mono', monospace;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0;
  margin: -20px auto 40px auto;
}

.extensionBox,
.searchBox,
.searchBtn {
  background: white;
  border: 3px solid black;
  border-radius: 4px;
  display: block;
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  height: 50px;
  margin: 10px auto;
  outline: none;
  padding: 0;
  text-align: center;
  width: 40%;
}

.searchBox:focus,
.extensionBox:focus {
    border: 3px solid #0af5b6;
}

#searchBtn {
  background: black;
  box-sizing: content-box;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;


}

a {
	color: black;
  cursor: pointer;
  font-weight: 700;
	text-decoration:none;
}

a:hover {
  color: rgb(0, 255, 220);
}

p {
  display: none;
}

footer {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
	/*bottom:0;*/
  color: black;
  font-family: 'Fira Mono', monospace;
  font-size: 0.7em;
  font-weight: lighter;
	height:40px;
  /*left: 0;
	position:fixed;*/
  margin-top: 2em;
	width:100%;
}

@media only screen and (max-width: 768px) {
  h1 {
  	font-size: 15em;
    margin: 0.15em 0 0 0;
  }

  h2 {
    margin: -50px auto 40px auto;
  }

  section {
    margin: auto;
    text-align: center;
    width: 85%;
  }

  .searchBtn {
    box-shadow: none;
  }

  input.searchBtn,
  input.searchBox,
  input.extensionBox {

    height: 70px;
    padding: 0;
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
	  font-size: 8em;
    margin: 0.1em 0 0.1em 0;
  }

  h2 {
    margin: -35px auto 30px auto;
  }

  section {
    margin: auto;
    text-align: center;
    width: 85%;
  }

  input.searchBtn,
  input.searchBox,
  input.extensionBox {
    box-shadow: none;
    height: 70px;
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  body {
    background: rgb(0, 255, 220);
    }
  h1, h2, section, footer {
    display: none;
  }
  strong {
    font-family: 'Baloo', cursive;
    font-size: 4em;
    display: block;
    text-shadow: 0px 2px 2px rgb(10, 209, 182);
  }
  p {
    font-family: 'Fira Mono', monospace;
    font-weight: 100;
    display: block;
    font-size: 2em;
    color: white;
    width: 60%;
    margin: 1.5em auto;

  }
}
