@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

::selection {
  background: rgb(0, 255, 217);
  color: white;
  text-shadow: none;
}

body {
  background-color: rgb(61, 90, 252);
	color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

main {
  margin: auto;
  max-width: 960px;
  overflow: hidden;
  text-align: center;
}

h1 {
  color: white;
	font-size: 10em;
  letter-spacing: -0.06em;
  margin: 0.67em 0 0 0;
	text-align: center;
  text-shadow: 0px 1px 20px rgb(60, 41, 214);
  width: 100%;
}
input {
  display: inline-block;
}

input.extensionBox {
    border: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    font-weight: lighter;
    height: 50px;
    line-height: 1.5;
    margin: 0 auto;
    outline:none;
    text-align: center;
    width: 12%;
}
input.searchBox {
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 1em;
  font-weight: lighter;
  height: 50px;
  line-height: 1.5;
  margin: 0 auto;
  outline:none;
  text-align: center;
  width: 27%;

}

a {
	color: rgb(0, 255, 217);
  cursor: pointer;
  font-weight: 700;
	text-decoration:none;
}

.searchBtn {
  -webkit-font-smoothing: antialiased;
	background: rgb(0, 255, 217);
  border: none;
  border-radius: 5px;
	color: rgb(61, 90, 252);
  cursor: pointer;
	display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
	margin: 10px auto;
  outline:none;
	padding: 1em 3em;
	text-decoration:none;
  text-transform: uppercase;
  transition: box-shadow .5s ease-out;
  width: 40%;
}

.searchBtn:hover {
  box-shadow: 0px 1px 20px rgb(60, 41, 214);
  transition: box-shadow .5s ease-in;
}

footer {
  -webkit-font-smoothing: antialiased;
	bottom:0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  font-weight: lighter;
	height:40px;
	left:0;
	position:absolute;
	width:100%;
}

@media only screen and (max-width: 480px) {
  h1 {
  	font-size: 8em;
    margin: 0.335em 0;
  }
  input.searchBtn,
  input.searchBox,
  input.extensionBox {
    box-shadow: none;
    height: 70px;
    width: 85%;
    display: block;
    margin: 10px auto;
  }
}
