html, body {
  background: black;
  color: white;
  font: 12px Menlo, "DejaVu Sans Mono", "Lucida Console", monospace;
  height: 100%;
}

h2 {
  font-size: 12px;
  font-weight: bold;
}

#principal {
  margin: auto;
  max-width: 800px;

  padding-top: 15%;
}

p {
  line-height: 18px;
}

a {
  color: #FF2E88;
}

a:hover {
  background: #FF2E88;
  color: white;
  text-decoration: none;
}

span {
  color: #50E3C2;
}
