@import url('https://fonts.googleapis.com/css?family=Ubuntu:500,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

html {
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5em;
  margin: 20px auto;
  text-align: center;
}
body {
  background: #fefbe7;
  font-size: 16px;
  margin-top: 90px;
}

code {
  background: #FCF3BD;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-bottom: 1em;
  padding: 0.8em;
  width: 670px;
}

select {
  margin-left: 1em;
  margin-right: 1em;
}

img#logoChrome {
  vertical-align: middle;
  width: 20px;
}

section#toolBar {
  align-items: center;
  background: #FCF3BD;
  border-bottom: 6px solid #E2CD6E;
  left: 0px;
  margin: auto;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
}

#interna {
  margin: auto;
  max-width: 960px;
  position: relative;
}

#imagenFinal{
-webkit-font-smoothing: antialiased;
height: 720px;
text-indent: -9999px;
text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
width: 1280px;
}

img {
  display: inline-block;
  margin: auto;
  width: 250px;
}
#linkDescarga {
    background: #D24E49;
    border-radius: 5px;
    color: #FFF;
    font-family: 'Fira Mono', monospace;
    text-decoration: none;
    padding: 0.2em 0.6em;
}

#linkDescarga:hover {
  text-decoration: underline;
}
footer{

  font-family: 'Fira Mono', monospace;
}

.inputfile {
  display: inline-block;
  display: none;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  width: 0px;
}
input[type=radio] {
  margin-left: 1em;
}

input[type=text] {
  border: 3px solid black;
  border-radius: 5px;
  height: 25px;
  outline: none;
  width: 90px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #00ffd8;
}

label {
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px black;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin: auto;
  margin-left: 10px;
  outline: none;
  padding: 0.01em;
  width: 96px;
}

label:hover {
  box-shadow: 2px 2px black;
  transform: translate(1px, 1px);
}

label:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.divsDivisorias {
  margin-top: 10px;
}
.divInferior {
  margin-bottom: 10px;
}
canvas {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 6px 6px #fcf3bd;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 70px;
  margin: auto;
  margin-bottom: 0.3em;
}

canvas#imagenFinal {
  height: 54.688%;
  width: 54.688%;
}

#borrarTextos {
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px black;
  color: black;
  cursor: pointer;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  height: 40px;
  margin: auto;
  margin-bottom: 1em;
  outline: none;
  width: 130px;
}
#borrarTextos:hover {
  box-shadow: 2px 2px black;
  transform: translate(1px, 1px);
}
#borrarTextos:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
